<%- include('../partials/header', { title: 'Car Categories' }) %>

<h1>Car Categories</h1>

<a href="/categories/create" class="btn btn-create">Create New Category</a>

<% if (categories && categories.length > 0) { %>
<ul class="item-list">
  <% categories.forEach(category => { %>
  <li class="item">
    <div class="item-details">
      <h3><%= category.name %></h3>
    </div>
    <div class="item-actions">
      <a href="/categories/<%= category.category_id %>" class="btn">View</a>
      <a
        href="/categories/<%= category.category_id %>/update"
        class="btn btn-update"
        >Update</a
      >
      <form
        action="/categories/<%= category.category_id %>/delete"
        method="POST"
        style="display: inline"
      >
        <button
          type="submit"
          class="btn btn-delete"
          onclick="return confirm('Are you sure you want to delete this category?')"
        >
          Delete
        </button>
      </form>
    </div>
  </li>
  <% }); %>
</ul>
<% } else { %>
<p>No categories found.</p>
<% } %> <%- include('../partials/footer') %>
